apiVersion: v2
name: extension-manager-operator
description: A Helm chart for extension-manager-operator which manages resources like ContentConfigurations and exposes REST `/validate` endpoint
type: application
version: 0.29.3
appVersion: "v0.138.0"
dependencies:
  - name: extension-manager-operator-crds
    version: 0.2.1
    condition: crds.enabled
    repository: oci://ghcr.io/openmfp/helm-charts
  - name: common
    version: 0.5.2
    repository: oci://ghcr.io/openmfp/helm-charts
