apiVersion: v2
name: account-operator
description: A Helm chart to deploy OpenMFP Account-Operator
type: application
version: 0.8.4
appVersion: "v0.170.2"
dependencies:
  - name: account-operator-crds
    version: 0.2.2
    condition: crds.enabled
    repository: oci://ghcr.io/openmfp/helm-charts
  - name: common
    version: 0.5.2
    repository: oci://ghcr.io/openmfp/helm-charts
