apiVersion: v2
name: openmfp
description: The OpenMFP chart for Kubernetes
type: application
version: 0.0.504
appVersion: "0.0.0"

dependencies:
  - name: example-content
    version: 0.114.33
    repository: oci://ghcr.io/openmfp/helm-charts
    condition: components.example-content.enabled
  - name: portal
    version: 0.73.181
    repository: oci://ghcr.io/openmfp/helm-charts
    condition: components.portal.enabled
  - name: infra
    version: 0.63.3
    repository: oci://ghcr.io/openmfp/helm-charts
    condition: components.infra.enabled
  - name: extension-manager-operator
    version: 0.29.0
    repository: oci://ghcr.io/openmfp/helm-charts
    condition: components.extension-manager-operator.enabled
  - name: keycloak
    version: 0.64.4
    repository: oci://ghcr.io/openmfp/helm-charts
    condition: components.keycloak.enabled
